@inherits LayoutComponentBase
@using Data;
@inject AuthService Auth
@inject IJSRuntime JS

<PageTitle>CNSAWiki</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center">
            @if (Auth.Authorized)
            {
                <p class="username mb-0 me-2">@Auth.Username</p>
                <button class="btn btn-primary" @onclick="LogoutAndRefresh">로그아웃</button>
            }
            else
            {
                <NavLink href="register">
                    <button class="btn btn-primary">회원가입</button>
                </NavLink>
                <NavLink href="login">
                    <button class="btn btn-primary">로그인</button>
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task LogoutAndRefresh()
    {
        Auth.Logout();  // 기존 로그아웃 처리
        await JS.InvokeVoidAsync("location.reload"); // 페이지 새로고침
    }
}